<!DOCTYPE html>
<html>
  <head>
    <title>Noite de Talentos - Votação</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <footer>
    <p>&copy; Copyright 2019 - Rodrigo Gonçalves <a href="https://www.instagram.com/rodgoncalves/">@rodgoncalves</a></p>
  </footer>
</html>
